*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
.bg1{
    width: 550px;
    background-image: url(greenbg.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    margin: 0 auto;
    padding: 40px;
}
.bg2{
    background-color: rgba(97, 197, 97, 0.432);
    padding: 20px;
}
.bg2 h2:first-child{
    text-align-last: center;
    color: rgba(0, 0, 0, 0.377);
    margin-bottom: 20px;
}
text-decoration: none;